<!doctype html>
<html>
<head>
	
	<meta charset="utf-8">
		
		<title>Game</title>

	<script src ="../../static/game/MainLoad.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/game/Main.css">

</head>

<body> 
	 <canvas id="canvas" width="800" height="480">
         이 브라우저는 캔버스를 지원하지 않습니다.
     </canvas>
	
			<div style="position: relative; left:200px; top: -110px;" onclick="Main_Strat()">
				<img src="../../static/game/Image/Main/버튼/시작.png" width="150" height="100" onMouseOver="this.src='Image/Main/버튼/시작누름.png'" onMouseOut="this.src='Image/Main/버튼/시작.png'">
			</div>
		
			<div style="position: relative; left:430px; top:-215px;"onclick="Main_Magyarazat()">
				<img id="HeipButton" src="../../static/game/Image/Main/버튼/도움말.png" width="150" height="100" onMouseOver="this.src='Image/Main/버튼/도움말누름.png'" onMouseOut="this.src='Image/Main/버튼/도움말.png'">
			</div>	
	
			
 
	</body>
</html> 












































