<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>테스트용</title>
</head>
<body>

<a href="{% url 'reg_page_temp' %}">게임 등록 페이지 (임시)</a>

<h2>Ladder table 정보</h2>
{% for data in all_data %}
    <p>
        data idx: {{ data.index }}
        game idx: {{ data.game_index.game_name }}
        score: {{ data.score }}
        player id: {{ data.player_id }}
    </p>

{% endfor %}

<h2>Gamedata table 정보</h2>
{% for data in all_game_data %}
<p>
    game idx: {{ data.index }}
    game name: {{ data.game_name }}
    score type: {{ data.api_key }}
    admin name: {{ data.admin_name }}
</p>
{% endfor %}

</table>
</body>
</html>