@import '../../../styles/utils.scss';

.profile {
  height: 50vh - (4rem/1rem * 1.7vh);
  background: $oc-gray-1;
  .top {
    height: 91%;
    background: $oc-teal-4;
    border-bottom: 1px groove $oc-gray-3;
  }
  .bottom {
    height: 6%;
  }
}
