@import '../../../styles/utils.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(50vh);
  }
  100% {
    transform: translateY(0);
  }
}

.backgroundAlpha {
  background: rgba($color: hsl(0, 0%, 0%), $alpha: 0.5);
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 5;

  &.enter {
    animation: fadeIn 0.25s ease-in both;
  }
}

.modalWrapper {
  z-index: 10;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modalBox {
    @include material-shadow(3, 0.5);
    background: hsl(0, 100%, 100%);

    &.enter {
      animation: slideUp 0.25s ease-in both;
    }
    &.leave {
      animation: fadeOut 0.25s ease-in both;
    }
  }
}
