@import '../../../styles/utils.scss';

.backgroundAlpha {
  background: rgba($color: hsl(0, 0%, 0%), $alpha: 0.5);
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 5;
}
.modalWrapper {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modal1 {
    @include material-shadow(3, 0.5);
    background: hsl(0, 100%, 100%);
  }
}
