@import 'utils';

$lime: $oc-lime-0;

.top {
  background-color: $lime;
  .top-contents{
    height: 5rem;
    width: auto;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    align-items: center;

    @include media("<wide"){
      width: 100%;
    }

    @include media("<medium"){
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .topnav{
      margin-right: auto;
      display: flex;
      .nav-item{
        margin: 0.3em;
      }
    }

    .title{
      margin-left: auto;
      margin-right: auto;
      color : black;
      font-size: 2rem;
    }

    .extra{
      margin-left: auto;
    }
  }
}
