@import '../../../styles/utils.scss';

.modalBody {
  width: 30rem;
  background: white;
  border-radius: 20px;
  .title {
    background: $oc-teal-4;
    height: 4rem;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
    border-bottom: 1px solid gray;
  }
  .inputForm {
    margin-top: 0.25rem;
    padding: 2rem;
  }
}

.options {
  padding: 1rem;
  background: $oc-gray-1;
  text-align: right;
}
